<section class="container container-margin text-center">
	<h1>Modification d'un magasin</h1>
	<%= model_error_messages!(@shop) %>
	<%= form_for @shop, url: shop_path(@shop), :html => {method: :put, multipart: true} do |f| %>
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
			<%= render partial: 'form', locals: {f: f} %>
			<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
				<%= f.submit  "Modifier le magasin", :class => "btn btn-primary"%>
			    <%= link_to "Annuler", index_shops_path(:pending), :class => 'btn btn-danger' %>
			</div>
		</div>
	<% end %>
</section>