
<div class="row">
	<div class="col-md-4">
		<div class="offer">
		  <div class="img-block-offer">
				<%= image_tag @offer.photo(:showInDaShop), id: "preview_photo_display" %>
		  </div>
			<div class="full-offer">
			  <div class="header-offer"><h4 id="preview_title_display"><%= @offer.title %></h4></div>
			  <div class="content-offer" id="preview_description_display">
	    		<%= @offer.description %>
			  </div>
			  <div class="footer-offer">
			    <span class="date" id="preview_expiry_display">Pendant <%= distance_of_time_in_words_to_now @offer.expiry unless @offer.expiry.blank? %></span>
			  </div>
			</div>
		</div>
	</div>

	<div class="col-md-7 col-md-offset-1">
		<div class="form-group text-left">
			<label class="visible-md visible-lg">Titre</label>
			<%= f.text_field :title, :autofocus => true, :class => 'form-control form-control-preview', placeholder: "Titre", id: "preview_title" %>
		</div>

		<div class="form-group text-left">
			<label class="visible-md visible-lg">Description</label>
			<%= f.text_field :description, :class => 'form-control form-control-preview', placeholder: "Description", id: "preview_description" %>
		</div>

		<div class="form-group text-left">
			<label class="visible-md visible-lg">Date d'expiration (jj/mm/aaaa)</label>
			<%= f.date_field :expiry, :class => 'form-control form-control-preview', placeholder: "Date d'expiration (jj/mm/aaaa)", id: "preview_expiry" %>
		</div>

		<div class="form-group text-left">
			<label class="visible-md visible-lg">Categorie</label>
			<%= f.select :category, categories_list, {}, {:class => 'select'} %>
		</div>

		<div class="form-group text-left">
			<label>Photo</label>
			<%= f.file_field :photo, placeholder: "Photo" %>
		</div>
	</div>
</div>
